.leaderboard {
  margin-top: 5rem;
  height: 200vw;
  background-color: #353935;
  color: white;

  &__header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #353935;
    height: 5rem;
  }

  &__back {
    display: flex;
    width: 9.5vw;
    height: 9.5vw;
  }

  &__heading {
    display: flex;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  &__photo {
    width: 9.5vw;
    height: 9.5vw;
    border-radius: 50%;
  }
}
