// Primary Colors
$instock-black: #13182c;
$instock-indigo: #2e66e5;
$white: #ffffff;

// Secondary Colors
$instock-slate: #5c667e;
$instock-cloud: #bdc5d5;

// Background Colors
$instock-graphite: #232940;
$instock-light-grey: #f7f8f9;

// Supporting Colors
$instock-green: #158463;
$instock-red: #c94515;
