@font-face {
  font-family: "Arimo";
  src: url(../../assets/fonts/Arimo-Regular.ttf) format(opentype);
  font-weight: 400;
}
@font-face {
  font-family: "Arimo";
  src: url(../../assets/fonts/Arimo-Bold.ttf) format(opentype);
  font-weight: 700;
}
