@use "../../styles/partials/typography" as *;
@use "../../styles/partials/colors" as *;

.button {
  color: #ffbf00;
  &__btn {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
  }
}

.workout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  &__container-content {
    width: 75vw;
    background-color: $onyx;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__close-btn {
    width: fit-content;
    background-color: $onyx;
    font-size: 1.5rem;
    cursor: pointer;
    color: $white;
  }

  &__heading {
    text-align: center;
    padding-bottom: 1rem;
  }

  &__rounds {
    padding-bottom: 0.5rem;
  }

  &__sub-heading {
    padding-bottom: 0.5rem;
    text-decoration: underline;
    font-weight: 700;
  }

  &__movement {
    margin-bottom: 0.5rem;
    color: $white;
  }

  &__explain {
    margin-top: 1rem;
    color: $white;
    font-weight: 700;
  }
}
