@use "../../styles/partials/typography" as *;

.home {
  display: flex;
  flex-direction: column;
  background-color: #353935;
  height: 200vw;
  color: white;
  align-items: center;

  &__deadline {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 1rem;
  }

  &__title {
    font-size: 1.25rem;
    line-height: 2rem;
    padding-bottom: 1rem;
  }

  &__time {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  &__workout-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  &__container-wods {
    display: flex;
    flex-direction: column;
    border: 1px solid #ffbf00;
    padding: 1rem 0.5rem;
    width: 50vw;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }

  &__wods-heading {
    font-size: 1.25rem;
  }

  &__wods {
    font-size: 1.75rem;
    font-weight: 700;
  }

  &__graph {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  &__bot-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  &__footer-btn {
    width: 9.5vw;
    height: 9.5vw;
  }
  &__footer-btn-active {
    @extend .home__footer-btn;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
