.header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;

  &__profile {
    display: flex;
    height: 12.5vw;
    width: 12.5vw;
    border-radius: 50%;
  }

  &__logo {
    display: flex;
    height: 18.75vw;
    width: 37.5vw;
    background-image: url("../../assets/images/IMG-5638.PNG");
  }

  &__hamburger {
    display: flex;
    height: 12.5vw;
    width: 12.5vw;
    background-image: url("../../assets/icons/noun-setting-4951792.svg");
    background-repeat: no-repeat;
  }
}
