@use "../../styles/partials/typography" as *;
@use "../../styles/partials/colors" as *;

.round {
  display: flex;
  padding: 0 1rem;
  color: $white;
  background-color: $onyx;

  &:last-of-type .round__container {
    border: 2px solid $yellow;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    border-top: 2px solid $yellow;
    border-right: 2px solid $yellow;
    border-left: 2px solid $yellow;

    &--color {
      @extend .round__container;
      background-color: $grey;
    }
  }

  &__user {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
    width: 30vw;
    justify-content: space-between;
  }

  &__picture {
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    margin-top: 0.5rem;
    border: $white;
  }

  &__userName {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    text-align: center;
  }

  &__result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  &__wl-container {
    display: flex;
  }

  &__result {
    font-size: 1.5rem;
    line-height: 2rem;
    color: $red;

    &--color {
      @extend .round__result;
      color: $green;
    }
  }
}
