@use "../../styles/partials/typography" as *;

.round {
  display: flex;
  padding: 0 1rem;
  color: white;

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    border: 2px solid #ffbf00;
    // border-top: 2px solid #ffbf00;
    // border-right: 2px solid #ffbf00;
    // border-left: 2px solid #ffbf00;

    &--color {
      @extend .round__container;
      background-color: #494f55;
    }
  }

  &__user {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
  }

  &__picture {
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    margin-top: 0.5rem;
    border: white;
  }

  &__userName {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }

  &__result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  &__wl-container {
    display: flex;
  }

  &__result {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #e63b38;

    &--color {
      @extend .round__result;
      color: #6cc955;
    }
  }
}
