.round {
  display: flex;
  padding: 0.5rem 1rem;

  &__container-win {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: #fafafa;
    border-radius: 0.5rem;
    border: 1px solid black;
    margin-top: 1rem;
    background-color: lightgreen;
  }

  &__container-lose {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: #fafafa;
    border-radius: 0.5rem;
    border: 1px solid black;
    margin-top: 1rem;
    background-color: red;
  }

  &__user {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #e1e1e1;
  }

  &__picture {
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
  }

  &__userName {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  &__wl-container {
    display: flex;
  }

  &__result {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
